In [4]:
import pandas as pd
from pandas import Series, DataFrame
data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'])
df

            Chinese  English  Math
ZhangFei         66       65    30
GuanYu           95       85    98
ZhaoYun          93       92    96
HuangZhong       90       88    77
DianWei          80       90    90

### 读取数据

In [6]:
# 读取csv格式
# h_data=pd.read_csv('/Users/rickie/Desktop/mysql_learning/melb_data.csv') 
h_data=pd.read_csv('/Users/rickie/Desktop/czbank_test/melb_data.csv')

In [ ]:
# 读取json格式数据,结果为dict格式，可以生成DaraFrame
import json
path=''
data=[json.loads(line) for line in open(path)]
df=pd.DataFrame(data)

### 使用sql语句操作pandas DataFrame

In [37]:
import pandas as pd
from pandas import DataFrame
from pandasql import sqldf, load_meat, load_births
df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5)})
pysqldf = lambda x: sqldf(x, globals())
sql = "select * from df1 where name ='ZhangFei'"
pysqldf(sql)

       name  data1
0  ZhangFei      0

### 查看数据

In [7]:
h_data.isnull().sum()
h_data.describe()
h_data.info()
# df.isnull().sum()
# df.isnull().any()
h_data.dtypes # 查看数据格式

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13580 non-null object
Address          13580 non-null object
Rooms            13580 non-null int64
Type             13580 non-null object
Price            13580 non-null float64
Method           13580 non-null object
SellerG          13580 non-null object
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null float64
Bedroom2         13580 non-null float64
Bathroom         13580 non-null float64
Car              13518 non-null float64
Landsize         13580 non-null float64
BuildingArea     7130 non-null float64
YearBuilt        8205 non-null float64
CouncilArea      12211 non-null object
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null object
Propertycount    13580 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [8]:
h_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

### 清洗数据

In [9]:
# 处理缺失数据

h_data['BuildingArea'].fillna(h_data['BuildingArea'].mean(),inplace=True) # 填充缺失值

max_v=h_data['YearBuilt'].value_counts().index[0] # 用最多数值填充缺失值
h_data['YearBuilt'].fillna(max_v,inplace=True)

h_data.dropna(subset=['Car'],inplace=True) # 删除Car为空的所有列


h_data.CouncilArea.fillna('Unknown',inplace=True)

h_data.drop_duplicates() # 检查是否有重复数据

h_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13518 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13518 non-null object
Address          13518 non-null object
Rooms            13518 non-null int64
Type             13518 non-null object
Price            13518 non-null float64
Method           13518 non-null object
SellerG          13518 non-null object
Date             13518 non-null object
Distance         13518 non-null float64
Postcode         13518 non-null float64
Bedroom2         13518 non-null float64
Bathroom         13518 non-null float64
Car              13518 non-null float64
Landsize         13518 non-null float64
BuildingArea     13518 non-null float64
YearBuilt        13518 non-null float64
CouncilArea      13518 non-null object
Lattitude        13518 non-null float64
Longtitude       13518 non-null float64
Regionname       13518 non-null object
Propertycount    13518 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.3+ MB

In [41]:
# h_data.Distance.value_counts()
dis=h_data.groupby('Distance').size() # 分组
dis[dis>100].sort_values(ascending=False) # 排序
# h_data.Distance.value_counts()

11.2    739
9.2     367
13.9    324
7.8     306
4.6     260
13.0    252
8.0     248
5.2     247
13.8    237
2.6     235
8.8     223
10.5    222
11.4    218
3.3     214
8.4     205
6.4     201
7.5     201
5.9     199
9.7     182
7.0     158
14.7    155
7.7     152
4.5     150
12.1    145
11.8    145
5.5     141
12.4    140
6.1     137
6.3     126
9.9     125
       ...
12.5      5
32.3      5
28.5      5
1.3       5
36.9      5
23.3      4
33.3      4
26.0      4
27.2      4
47.3      3
34.6      2
17.6      2
27.7      2
27.1      2
39.0      2
3.7       2
23.8      2
31.6      2
47.4      1
48.1      1
43.3      1
16.6      1
37.5      1
31.4      1
39.8      1
35.5      1
29.3      1
45.2      1
26.1      1
44.2      1
Name: Distance, Length: 202, dtype: int64

### 转换数据格式

In [10]:
h_data['YearBuilt']=h_data['YearBuilt'].astype(int)

In [11]:
h_data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,151.96765,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.00000,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.00000,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,151.96765,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.00000,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,151.96765,1970,Yarra,-37.80410,144.99530,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.00000,1910,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.00000,1890,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,151.96765,1970,Yarra,-37.80080,144.99730,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.00000,1900,Yarra,-37.80100,144.99890,Northern Metropolitan,4019.0
10,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,151.96765,1970,Yarra,-37.81100,145.00670,Northern Metropolitan,4019.0
11,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,3067.0,...,2.0,2.0,214.0,190.00000,2005,Yarra,-37.80850,144.99640,Northern Metropolitan,4019.0
12,Abbotsford,123/56 Nicholson St,2,u,750000.0,S,Biggin,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,94.00000,2009,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
13,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13/08/2016,2.5,3067.0,...,1.0,1.0,195.0,151.96765,1970,Yarra,-37.80840,144.99730,Northern Metropolitan,4019.0
14,Abbotsford,7/20 Abbotsford St,1,u,441000.0,SP,Greg,14/05/2016,2.5,3067.0,...,1.0,1.0,0.0,151.96765,1970,Yarra,-37.80160,144.99880,Northern Metropolitan,4019.0
15,Abbotsford,16 William St,2,h,1310000.0,S,Jellis,15/10/2016,2.5,3067.0,...,1.0,2.0,238.0,97.00000,1890,Yarra,-37.80900,144.99760,Northern Metropolitan,4019.0
16,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16/07/2016,2.5,3067.0,...,2.0,1.0,113.0,110.00000,1880,Yarra,-37.80560,144.99300,Northern Metropolitan,4019.0
17,Abbotsford,78 Yarra St,3,h,1176500.0,S,LITTLE,16/07/2016,2.5,3067.0,...,1.0,1.0,138.0,105.00000,1890,Yarra,-37.80210,144.99650,Northern Metropolitan,4019.0
18,Abbotsford,196 Nicholson St,3,h,955000.0,S,Collins,17/09/2016,2.5,3067.0,...,1.0,0.0,183.0,151.96765,1970,Yarra,-37.80220,144.99750,Northern Metropolitan,4019.0
19,Abbotsford,42 Valiant St,2,h,890000.0,S,Biggin,17/09/2016,2.5,3067.0,...,1.0,1.0,150.0,73.00000,1985,Yarra,-37.80110,145.00040,Northern Metropolitan,4019.0
20,Abbotsford,3/72 Charles St,4,h,1330000.0,PI,Kay,18/03/2017,2.5,3067.0,...,2.0,2.0,780.0,135.00000,1900,Yarra,-37.80730,144.99520,Northern Metropolitan,4019.0
21,Abbotsford,13/11 Nicholson St,3,t,900000.0,S,Beller,18/03/2017,2.5,3067.0,...,2.0,2.0,0.0,151.96765,2010,Yarra,-37.80930,144.99590,Northern Metropolitan,4019.0
22,Abbotsford,138/56 Nicholson St,3,u,1090000.0,S,Jellis,18/03/2017,2.5,3067.0,...,2.0,2.0,4290.0,27.00000,1970,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
23,Abbotsford,6/219 Nicholson St,2,u,500000.0,S,Collins,18/06/2016,2.5,3067.0,...,1.0,1.0,0.0,60.00000,1970,Yarra,-37.80150,144.99720,Northern Metropolitan,4019.0
24,Abbotsford,52a William St,2,h,1100000.0,PI,Biggin,18/06/2016,2.5,3067.0,...,2.0,1.0,124.0,135.00000,2013,Yarra,-37.80790,144.99770,Northern Metropolitan,4019.0
25,Abbotsford,49 Park St,2,h,1315000.0,S,Marshall,19/11/2016,2.5,3067.0,...,1.0,0.0,147.0,85.00000,1900,Yarra,-37.80800,144.99400,Northern Metropolitan,4019.0
26,Abbotsford,5/20 Abbotsford St,1,u,426000.0,SP,Greg,22/08/2016,2.5,3067.0,...,1.0,1.0,0.0,151.96765,1970,Yarra,-37.80160,144.99880,Northern Metropolitan,4019.0
27,Abbotsford,48 Abbotsford St,3,h,1447500.0,PI,Nelson,22/08/2016,2.5,3067.0,...,3.0,1.0,166.0,174.00000,2012,Yarra,-37.80170,145.00010,Northern Metropolitan,4019.0
28,Abbotsford,116/56 Nicholson St,1,u,457000.0,S,Jellis,22/08/2016,2.5,3067.0,...,1.0,1.0,0.0,50.00000,1970,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
29,Abbotsford,159 Park St,2,h,1135000.0,S,Nelson,22/08/2016,2.5,3067.0,...,2.0,2.0,98.0,128.00000,1920,Yarra,-37.80050,144.99520,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13549,Sunshine,9 Appleby Ct,3,h,717500.0,S,Barry,26/08/2017,10.5,3020.0,...,1.0,1.0,554.0,95.00000,1985,Unknown,-37.78514,144.84561,Western Metropolitan,3755.0
13551,Sunshine West,24 Hilma St,4,h,682000.0,S,Barry,26/08/2017,10.5,3020.0,...,1.0,2.0,534.0,151.96765,1970,Unknown,-37.79161,144.80461,Western Metropolitan,6763.0
13552,Sunshine West,16 Mudford St,3,h,640000.0,S,Bells,26/08/2017,10.5,3020.0,...,1.0,1.0,616.0,151.96765,1970,Unknown,-37.79798,144.81529,Western Metropolitan,6763.0
13553,Surrey Hills,20 Albert Cr,4,h,2720000.0,S,Kay,26/08/2017,10.2,3127.0,...,3.0,2.0,1005.0,151.96765,1920,Unknown,-37.82421,145.10352,Southern Metropolitan,5457.0
13554,Surrey Hills,46 Durham Rd,3,h,1715000.0,S,Noel,26/08/2017,10.2,3127.0,...,1.0,2.0,438.0,151.00000,1906,Unknown,-37.83015,145.09035,Southern Metropolitan,5457.0
13555,Surrey Hills,3 Oak St,4,h,3100000.0,VB,Marshall,26/08/2017,10.2,3127.0,...,2.0,3.0,832.0,151.96765,1970,Unknown,-37.83564,145.10919,Southern Metropolitan,5457.0
13556,Tarneit,27 McMahon Cr,3,h,350000.0,VB,S&L,26/08/2017,18.4,3029.0,...,1.0,1.0,466.0,103.00000,2003,Unknown,-37.86744,144.65609,Western Metropolitan,10160.0
13557,Templestowe,10 Hathaway Cl,4,h,1753000.0,S,Barry,26/08/2017,15.5,3106.0,...,2.0,2.0,689.0,151.96765,2012,Unknown,-37.76673,145.16555,Eastern Metropolitan,6202.0
13558,Templestowe Lower,20 Airds Rd,4,h,1745000.0,S,RT,26/08/2017,12.4,3107.0,...,2.0,2.0,741.0,151.96765,1970,Unknown,-37.75843,145.10888,Eastern Metropolitan,5420.0
13559,Templestowe Lower,16 Benambra Dr,3,h,1190000.0,S,hockingstuart,26/08/2017,12.4,3107.0,...,1.0,1.0,723.0,151.96765,1970,Unknown,-37.76684,145.11309,Eastern Metropolitan,5420.0
13560,Templestowe Lower,50 Caroline Dr,5,h,1400000.0,S,Barry,26/08/2017,12.4,3107.0,...,3.0,2.0,717.0,310.00000,1963,Unknown,-37.76630,145.11320,Eastern Metropolitan,5420.0
13561,Templestowe Lower,7 Dove Ct,4,h,1288000.0,S,Barry,26/08/2017,12.4,3107.0,...,2.0,2.0,948.0,151.96765,1970,Unknown,-37.76078,145.10696,Eastern Metropolitan,5420.0
13562,Thornbury,7 Ballantyne St,3,h,1450000.0,S,Woodards,26/08/2017,7.0,3071.0,...,1.0,1.0,312.0,151.96765,1970,Unknown,-37.75870,144.99966,Northern Metropolitan,8870.0
13563,Thornbury,201 Gooch St,3,h,1271000.0,S,Nelson,26/08/2017,7.0,3071.0,...,1.0,2.0,470.0,151.00000,1950,Unknown,-37.75937,145.01534,Northern Metropolitan,8870.0
13564,Tullamarine,7 Londrew Ct,3,h,540000.0,S,Barry,26/08/2017,12.9,3043.0,...,1.0,1.0,607.0,102.00000,1970,Unknown,-37.69423,144.88002,Western Metropolitan,3296.0
13565,Vermont,73 Nurlendi Rd,4,h,1263500.0,S,Barry,26/08/2017,17.2,3133.0,...,2.0,2.0,791.0,151.96765,1970,Unknown,-37.84467,145.19276,Eastern Metropolitan,4181.0
13566,Vermont South,9 Winswood Cl,4,h,1250000.0,PI,Philip,26/08/2017,17.2,3133.0,...,2.0,2.0,986.0,151.96765,1970,Unknown,-37.84679,145.20051,Eastern Metropolitan,4280.0
13567,Viewbank,149 Graham Rd,5,h,1316000.0,SP,Nelson,26/08/2017,8.9,3084.0,...,3.0,3.0,696.0,151.96765,1970,Unknown,-37.73501,145.08341,Eastern Metropolitan,2698.0
13568,Wantirna,16 chesterfield Ct,4,h,951000.0,S,Ray,26/08/2017,14.7,3152.0,...,2.0,2.0,704.0,200.00000,1981,Unknown,-37.85639,145.23536,Eastern Metropolitan,5424.0
13569,Wantirna South,12 Armagh Cr,4,h,1323000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,551.0,151.96765,1970,Unknown,-37.87608,145.22390,Eastern Metropolitan,7082.0
13570,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,674.0,151.96765,1970,Unknown,-37.88360,145.22805,Eastern Metropolitan,7082.0
13571,Wantirna South,15 Mara Cl,4,h,1330000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,717.0,191.00000,1980,Unknown,-37.86887,145.22116,Eastern Metropolitan,7082.0
13572,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26/08/2017,14.5,3087.0,...,1.0,1.0,210.0,79.00000,2006,Unknown,-37.70657,145.07878,Northern Metropolitan,2329.0
13573,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,3030.0,...,2.0,1.0,662.0,172.00000,1980,Unknown,-37.89327,144.64789,Western Metropolitan,16166.0
13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,3049.0,...,2.0,2.0,256.0,151.96765,1970,Unknown,-37.67917,144.89390,Northern Metropolitan,2474.0
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,151.96765,1981,Unknown,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.00000,1995,Unknown,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,151.96765,1997,Unknown,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.00000,1920,Unknown,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.00000,1920,Unknown,-37.81188,144.88449,Western Metropolitan,6543.0

### 合并df

In [54]:
df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5),'data3':['dddd','e','a','f','z']})
df2 = DataFrame({'name':['ZhangFei', 'GuanYu', 'A', 'B', 'C'], 'data1':range(5)})

In [61]:
pd.merge(df1,df2,how='inner')

       name  data1 data3
0  ZhangFei      0  dddd
1    GuanYu      1     e

### apply函数的使用

In [16]:
def plus(df,n,m):
    df['new1'] = (df[u'Chinese']+df[u'English']) * m
    df['new2'] = (df[u'Chinese']+df[u'English']) * n
    return df
df.apply(plus,axis=1,args=(2,3))# args=不可省略

            English  Math  Chinese  new1  new2
ZhangFei         65    30       66   393   262
GuanYu           85    98       95   540   360
ZhaoYun          92    96       93   555   370
HuangZhong       88    77       90   534   356
DianWei          90    90       80   510   340